// Width classes
.width-60 {
    width: 60px !important;
}
.width-75 {
    width: 75px !important;
}

// Inputs for the predefined cards
.form-predefined {
    input {
        margin: 0 2px;
        padding: 3px 5px;
        height: 25px;
        text-align: center;
    }
}

// Overwrite Bootstrap Stuff
.form-control {
    display: inline-block !important;
}
.jumbotron  {
    margin: 10px 0 !important;
    padding: 20px !important;
}

// Single calculation result
.calculation {
    margin: 10px 0;

    form {
        label {
            font-size: 28px;
            margin: 0;
            padding: 0;
        }
        input {
            width: 80px;
            position: absolute;
            margin-left: 10px;
            font-size: 28px;
            height: auto;
            line-height: 28px;
        }
    }
}