// VARIABLES
$font-size: 28px;

// Width classes
.width-60 {
    width: 60px !important;
}
.width-75 {
    width: 75px !important;
}

// Inputs for the predefined cards
.form-predefined {
    height: 100%;

    .card {
        height: 100%;

        .card-body {
            display: flex;
            flex-direction: column;

            .card-test {
                flex: 1;
            }
        }
    }

    input[type=number] {
        margin: 0 2px;
        padding: 3px 5px;
        height: 25px;
        text-align: center;
    }
}

// Overwrite Bootstrap Stuff
.form-control {
    display: inline-block !important;
}
.jumbotron  {
    margin: 10px 0 !important;
    padding: 20px !important;
}

// Single calculation result
.calculation {
    margin: 10px 0;

    form {
        label {
            font-size: $font-size;
            margin: 0;
            padding: 0;
        }
        input {
            width: 80px;
            margin-left: 10px;
            font-size: 28px;
            height: auto;
            line-height: 28px;
        }
    }
}

#progress-row {
    background-color: #e9ecef;
}

.mt-100 {
    margin-top: 100px;
}

.mt-160 {
    margin-top: 160px;
}

@media (min-width: 768px) {
    .mt-160 {
        margin-top: 120px;
    }
}


span.result {
    font-size: $font-size;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}